$primary: #053367;
$primary-dark: #6dc8c0;
$bc: #ffffff;
$secondary: #c6b300;

$color-white: #ffffff;
$color-black: #000000;
$color-gray: #d4d0d09f;

$gray-table: #efefef;

$text-primary: #989898;
$text-light: #64807c;
$text-login-input: #577b76;
