// @font-face {
//     font-family: 'mick_casterregular';
//     src: url('/fonts/mick_caster-webfont.woff2') format('woff2'),
//         url('/fonts/mick_caster-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }

@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");

@font-face {
    font-family: "Segoe UI";
    src: url("./typography/Segoe_UI.ttf") format("truetype");
}

@font-face {
    font-family: "Segoe UI Bold";
    src: url("./typography/Segoe_UI_Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Segoe UI Bold Italic";
    src: url("./typography/Segoe_UI_Bold_Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Segoe UI Italic";
    src: url("./typography/Segoe_UI_Italic.ttf") format("truetype");
}
